.App {
  text-align: center;
}
body {
  background-color: #F6FFFA;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .icons {
    font-size: 3em;
  }
  .my-component {
    display: flex;
    flex-direction: column;
  }
  .me-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .me-container img {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
  .me-container img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .text-content {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .section {
    display: flex;
    flex-direction: column;
    border: 3px solid palevioletred;
    border-radius: 15px;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;
  }
  .section h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    margin: auto;
  }
  .education, .projects {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
  .skills {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
  }
  .devicon-css3-plain-wordmark, .devicon-html5-plain-wordmark, .devicon-javascript-plain, .devicon-react-original-wordmark, .devicon-ruby-plain-wordmark {
    font-size: 3em;
  }
  .fs-container, .lsu-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .icons {
    font-size: 3em;
  }
  .my-component {
    display: flex;
    flex-direction: column;
  }
  .me-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .me-container img {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
  .me-container img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .text-content {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .section {
    display: flex;
    flex-direction: column;
    border: 3px solid palevioletred;
    border-radius: 15px;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;
  }
  .section h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    margin: auto;
  }
  .education, .projects {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
  .skills {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
  }
  .devicon-css3-plain-wordmark, .devicon-html5-plain-wordmark, .devicon-javascript-plain, .devicon-react-original-wordmark, .devicon-ruby-plain-wordmark {
    font-size: 3em;
  }
  .fs-container, .lsu-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .icons {
    font-size: 3em;
  }
  .my-component {
    display: flex;
    flex-direction: row;
  }
  .me-container {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .me-container img {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
  .me-container img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .text-content {
    width: 60%;
    height: auto;
    margin: auto;
  }
  .section {
    display: flex;
    flex-direction: row;
    border: 3px solid palevioletred;
    border-radius: 15px;
    width: 90%;
    height: 120px;
    margin: auto;
    padding: 10px;
  }
  .section h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
    margin: auto auto auto 10px;
  }
  .education, .skills, .projects {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  .devicon-css3-plain-wordmark, .devicon-html5-plain-wordmark, .devicon-javascript-plain, .devicon-react-original-wordmark, .devicon-ruby-plain-wordmark {
    font-size: 4em;
  }
  .fs-container, .lsu-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .icons {
    font-size: 3em;
  }
  .my-component {
    display: flex;
    flex-direction: row;
  }
  .me-container {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .me-container img {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
  .me-container img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .text-content {
    width: 60%;
    height: auto;
    margin: auto;
  }
  .section {
    display: flex;
    flex-direction: row;
    border: 3px solid palevioletred;
    border-radius: 15px;
    width: 90%;
    height: 120px;
    margin: auto;
    padding: 10px;
  }
  .section h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
    margin: auto auto auto 10px;
  }
  .education, .skills, .projects {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  .devicon-css3-plain-wordmark, .devicon-html5-plain-wordmark, .devicon-javascript-plain, .devicon-react-original-wordmark, .devicon-ruby-plain-wordmark {
    font-size: 5em;
  }
  .fs-container, .lsu-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .icons {
    font-size: 3em;
  }
  .my-component {
    display: flex;
    flex-direction: row;
  }
  .me-container {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .me-container img {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
  .me-container img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .text-content {
    width: 60%;
    height: auto;
    margin: auto;
  }
  .section {
    display: flex;
    flex-direction: row;
    border: 3px solid palevioletred;
    border-radius: 15px;
    width: 90%;
    height: 120px;
    margin: auto;
    padding: 10px;
  }
  .section h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
    margin: auto auto auto 10px;
  }
  .education, .skills, .projects {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  .devicon-css3-plain-wordmark, .devicon-html5-plain-wordmark, .devicon-javascript-plain, .devicon-react-original-wordmark, .devicon-ruby-plain-wordmark {
    font-size: 6em;
  }
  .fs-container, .lsu-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
}


h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}
.section p {
  font-size: 1em;
}
.fs-img {
  width: 100%;
  height: auto;
  margin: auto;
}
.lsu-img {
  width: 70%;
  height: auto;
  margin: auto;
}
