.App {
  text-align: center;
}
body {
  background-color: #F6FFFA;
}
.my-component {
  display: flex;
}
.me-container {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.me-container img {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}
.me-container img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.icons {
  font-size: 3em;
}
.text-content {
  margin: auto;
}
h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}
.section {
  display: flex;
  border: 3px solid palevioletred;
  border-radius: 15px;
  width: 700px;
  height: auto;
  margin: auto;
  padding: 10px;
}
.section h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
}
.fs-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.fs-img {
  width: 100%;
  height: auto;
}
.lsu-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.lsu-img {
  width: 80%;
  height: auto;
}
.devicon-css3-plain-wordmark, .devicon-html5-plain-wordmark, .devicon-javascript-plain, .devicon-react-original-wordmark, .devicon-ruby-plain-wordmark {
  font-size: 6em;
}
