.App {
  text-align: center;
}
body {
  background-color: #F6FFFA;
}
.my-component {
  display: flex;
  flex-direction: row;
}
.text-content {
  width: 60%;
  height: auto;
  margin: auto;
  text-align: left;
}
img {
  width: 50%;
  height: auto;
  margin: auto;
}
img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}
a {
  color: palevioletred;
}
a:hover {
  color: palevioletred;
}
